.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home {
  background-color: black;
}

.MovieListItem {
  cursor: pointer;  
  transition: all 0.3s ease;
  box-shadow: 0 0 6 px #ccc;
  margin: 5px;
}

.MovieListItem :hover{  
  transform: scale(1.1); /* 鼠标放到图片上的时候图片按比例放大1.5倍   */
}  

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Carousel {
  margin: auto;
}

.CarouseIdot {
  margin-bottom: 60px;
}

.Carousel img {
  margin: auto;
  height: 50px;
  line-height: 50px;
}

.Nowplaying {

  color: aliceblue;
  font-size: 20px;
  margin-top: 10px;
}

.Nowplaying h3 {
  color: aliceblue;

}

.playListContent {
  margin: auto;
  font-size: 14px;
  margin-top: -100px;
  padding-left:100px;
}

/* .CarouselItem{
  margin-left: center;
  padding-left:600px;
  
} */
.searchInput {
  height: 120px;
}

.searchInput img {
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}